```
sphinx
sphinx-rtd-theme
```


## Makefile (optional)


```
# Minimal Makefile to build HTML locally
SPHINXBUILD = sphinx-build
SOURCEDIR = docs/source
BUILDDIR = docs/build


html:
$(SPHINXBUILD) -b html $(SOURCEDIR) $(BUILDDIR)
@echo "Build finished. The HTML pages are in $(BUILDDIR)."
```


---
